* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #ced3dd;
  width: 100%;
}

header {
  background-color: #e2e4e7;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}

h1 {
  font-size: 40px;
  padding-left: 20px;
}


.cor {
  color: #c08558;
}


#navbar a {
  padding-right: 20px;
  text-decoration: none;
  color: #0e0d0d;
  font-weight: bold;
  transition: 0.5s;
}


p {
  font-size: 25px;
  padding: 5px;
}


h2 {
  padding-top: 20px;
  font-size: 40px;
}



section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#topo {
  padding-top: 35px;
  display: flex;
  text-align: justify;
  margin-bottom: 25px;
}

.banner {
  width: 100%;
  border: 1px solid #252839;
  border-radius: 2px;
}
.containerimg {
  position: relative; 
  width: 500px;
  height: 400px;
  background-color: #1e2831;
  margin: 50px auto;
  overflow: visible; 
}

.img {
  margin: 45px auto;
  box-shadow: 5px 10px 10px rgb(0, 0, 0, 0.2);
  border: 1x solid #1e2831;
  border-radius: 5px;
  width: 600px;
}
.containerimg2 {
  position: relative;
  width: 500px;
  height: 350px;
  background-color: #1e2831;
  margin: 50px auto;
  overflow: visible; 
}
.imgmeio {
  position: absolute;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.2);
  width: 400px;
  height: auto;
  left: -160px;
  bottom: -35px;
  border: 1px solid #1e2831;
  border-radius: 5px;
}
.imgmeio2 {
  position: absolute;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.2);
  width: 400px;
  height: auto;
  top: -35px;
  right: -160px;
  border: 1px solid;
  border-radius: 5px;
}
.imagem {
  position: absolute; 
  width: 300px;
  height: auto;
  border: 1px solid #1e2831;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.2);
}

.imgcima {
  top: -70px; 
  right: -70px;
  border-radius: 5px;
}

.imgbaixo {
  bottom: -70px;
  left: -70px;
  border-radius: 5px;
}

/*caixas*/
.caixa {
  background-color: #ffffff;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 6px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
}

.caixa h3 {
  font-size: 25px;
}

.caixa button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #1e2831;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}


ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #c08558;
  font-size: 25px;
  transition: 0.5s;
}



form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form input[type="text"],
form input[type="email"],
form input[type="url"] {
  width: 300px;
  padding: 10px;
  margin: 15px;
  border: 2px solid #bb7642;
  border-radius: 10px;
}
form input[type="checkbox"] {
  border: #bb7642;
}

form input::placeholder {
  font-size: 15px;
  color: #1e2831;
}

form button {
  margin: 10px;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  background-color: #1e2831;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}



#navbar a:hover,
li a:hover,
button:hover {
  color: #bb7642;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #ced3dd;
  background-color: #1e2831;
  padding: 50px;
}

@media (width: 425px) {
  header {
    height: 70px;
  }
  h1 {
    font-size: 25px;
  }

  #navbar a {
    font-size: 12px;
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 23px;
  }
  p {
    font-size: 15px;
    right: 50px;
  }
  h3 {
    font-size: 20px;
  }

  .banner {
    width: 330px;
  }

  .caixa {
    padding: 25px;
    width: 350px;
  }
  ul li a {
    font-size: 18px;
  }
  .containerimg {
    width: 300px;
    height: 500px;
    margin: 70px;
  }
  .containerimg2 {
    width: 250px;
    height: 250px;
  }

  .imgmeio {
    width: 250px;
    left: -80px;
  }

  .imgmeio2 {
    width: 250px;
    right: -80px;
  }
  .imagem {
    width: 250px;
  }
  .img {
    width: 250px;
    margin: 30px;
  }
  .imgcima {
    top: -70px;
    right: -50px;
  }

  .imgbaixo {
    bottom: -70px;
    left: -50px;
  }
}
